body{
    margin: auto;
    background-color: white;
    padding: 5px;
}
h2{
    font-family: fantasy;
}
#logo{
    align-items: center;
    height: 300px;
}

header{
align-items: center;
text-align: center;
}

#recipes-container{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

ul{
    list-style-type: none;
}

footer{
    text-align: center;
    background-color: lightblue;
}

#image-container{
    display: inline;
}

.close{
    padding-left: 7px;
}

#meal-image{
    align-items: center;
    text-align: center;
    width: 600px;
    height: 600px;
    padding-bottom: 15px;
}

#image-container{
    width: 100%;
    display:block;}

#footer-list{
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightblue;
}

footer li{
    background-color: lightblue;
}

.footer-item{
    font-family: fantasy;
    text-align: center;
    font-size: 12px;
}

#random-meal-title{
    color: black;
    padding: 15px;
}

#random-meal-instructions{
    padding-right: 50px;
    padding-left: 50px;
    line-height: 1.5;
}

button{
    padding: 3px;
    margin-left: 8px;
    font-family: fantasy;
    color: black;
    background-color: blanchedalmond;
}

#newRecipeBtn{
    background-color: black;
    color:white;
    font-size: 18px;
    padding: 5px;
    margin-left: 8px;
    font-family: fantasy;
}

.btn{
    margin-bottom:1em;
}

#rateOrRenderRecipeContainer{
    width: 600px;
    background-color: #507e8d;
    height: 165px;
    align-items: center;
    text-align: center;
    margin: auto;
    border: 1px solid black;
}

.after-clicked{
    pointer-events: none;
    opacity: 50%;
}

#raving-reviews{
    padding: 5px;
    background-color: white;
    border: 1px solid black;
}

#formdescription{
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    color: black;

}

#description{
margin-top: 2em;
}

#feedback-container{
    padding-top: 30px;
    background-image: url("images/ingredients.png");
    padding-bottom: 30px;
    text-align: center;
    margin-bottom:5px;
}

#ingredient-list{
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
}

ul#ingredient-list{
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 30px;
}

span.ingredients1{
    text-align: center;
    font-family: fantasy;
    font-size: 30px;
}

p.ingredients{
    padding-top: 30px;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 30px;
}

#grocery-list-header{
    font-family: fantasy;
    padding-top: 15px;
    font-size: 30px;
    text-align: center;
    color: black;
}

#grocery-list-container{
    border: 1px solid black;
    border-radius: 2cm;
    width: 85%;
    min-height: 100px;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-bottom: 40px;
    background-image: url("images/test.png");
    background-position: left;
    background-size: cover;
}

#grocery-list-items{
    font-size: 18px;
    font-family: fantasy;
    color: black;
}

.hidden{
display: none;
}

/* .activated-star {
color: goldenrod;
outline-color: black;
font-size: 1.75em;
}

.notactivated-star{
font-size: 1.75em;
color: white;
} */

#star-container{
display: flex;
line-height: 1;
align-items: center;
justify-items: center;
justify-content: center;
cursor:pointer;
padding-bottom: 10px;
position:relative;
left: -23px;
}

.glyph{
align-items: center;
text-align: center;
font-size: 1.75em;
color: white;
}

.side > ul >li {
    border: 1px solid rgb(17, 17, 17);
    background-color: rgb(241, 246, 244);
    display: inline-block;
    border-radius: 5px;
    line-height: 100%;
    padding:0 0 3px 0;
    font-size: 1.25rem;
    box-shadow: 6px 8px 9px -3px rgba(0,0,0,0.71);
}

ul {
    /* background-color: rgb(245, 213, 117); */
    margin:1%;
}

.carousel-inner{
    width: 50%;
    display: block;
    margin: auto;
}


.carousel-img{
    display: block;
    margin: 0 auto;
}

.carousel-caption > h5  {
 color:white;
 display: inline;
  background-color:rgba(0,0,0,0.71);
}


.carousel-caption > p  {
 color:white;
 display: block;
 background-color:rgba(0,0,0,0.71);
}

/* .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */

.carousel-img{
    margin:auto;
    width:1%;
}

.text-area{
resize: both;
  overflow: auto;
}

#new-recipes > li{
    text-align: center;
    border: 1px solid rgb(17, 17, 17);
    background-color: rgb(241, 246, 244);
    /* display: flex; */
    flex-wrap: wrap;
    border-radius: 5px;
    line-height: 100%;
    padding:1px 1px 3px 0;
    margin: 0 2px 3px 4px;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 1.25rem;
    box-shadow: 6px 8px 9px -3px rgba(0,0,0,0.71);
}